.header__ section {
    width: 100%;
}

.header__bar {
    width: 100%;
    height: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.67));
    z-index: 100;
    position: absolute;
}

.logo__vitalinea {
    height: 5rem;
    width: 12.9rem;
}

nav {
    display: none;

    @include desk__1024 {
        display: flex;
        column-gap: 2rem;
        font-size: 1.6rem;
    }

    @include desk__1440 {
        display: flex;
        column-gap: 6rem;
        font-size: 1.6rem;
    }



    a {
        text-decoration: none;
        color: $black__gral;
    }


}

.networks {
    display: none;

    a img {
        width: 2.8rem;
        height: 2.8rem;

    }

    @include desk__1024 {
        display: flex;
        column-gap: 2rem;
    }



}

.btn__burg {
    width: 28px;
    height: 23px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    cursor: pointer;


    @include desk__1024 {
        display: none;
    }

    .btn__line {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #b98b3c;
    }

    .btn__line:nth-of-type(2) {
        width: 80%;
        margin-right: 0;
        margin-left: auto;
    }

}

.header__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6rem;
}